
.header{
    width: 100%;
    height: 90vh;
    position: relative;
    .img{
        left: 0px;
        top: 0px;
        .mask{
            position: absolute;
            width: 100%;
            height: 95vh;
            left: 0px;
            top: 0px;
            object-fit: cover;
            background: linear-gradient(360deg, #FF4E50 0%, #F9D423 100%);
            mix-blend-mode: normal;
        }
        .background{
            position: absolute;
            width: 100%;
            object-fit: cover;
            height: 95vh;
            top: 0px;
            mix-blend-mode: normal;
            opacity: 0.95;
        }
        .mask-c{
            position: absolute;
            width: 100%;
            height: 95vh;
            left: 0px;
            top: 0px;
            background: #000000;
        }
    }
    .log{
        position: absolute;
        width: 75px;
        height: 17px;
        left: 30%;
        top: 25px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 17px;
        display: flex;
        align-items: flex-end;
        color: #FFFFFF;
    }
    .dream{
        position: absolute;
        width: 152px;
        height: 24px;
        left: 28%;
        top: 25%;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 24px;
        display: flex;
        align-items: flex-end;
        color: #FFFFFF;
    }
    button{
        box-sizing: border-box;
        position: absolute;
        width: 99px;
        height: 36px;
        right: 30%;
        top: 16px;
        background: transparent;
        border: 2px solid #FFFFFF;
        border-radius: 40px;
        padding: 0 3px;
        &.sign{
            position: absolute;
            padding: 0px 18px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;            
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }
    }
    .button{
        button{
            position: absolute;
            width: 225px;
            height: 40px;
            left: 28%;
            top: 68%;
            background: #FF4E50;
            border-radius: 40px;
            border: none;
    
            &.partner{
                position: absolute;
                padding: 0px 20px;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
    .holiday{
        position: absolute;
        left: 24%;
        top: 35%;
        width: 272px;
        height: 74px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        margin: 0;
        line-height: 37px;
        text-align: center;
        color: #FFFFFF;
    }
    .project{
        position: absolute;
        left: 23%;
        top: 52%;
        width: 280px;
        height: 49px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        color: #F7F3F2;
        display: flex;
        align-items: flex-end;
        text-align: center;
    }
}
@media screen and (min-width: 1000px) {
    .header{
        .img{
            width: 100%;
        }
        button{
            right: 20%;
        }
        .log{
            left: 65%;
        }
        .dream{
            top: 30px;
            left: 10%;
        }
        .holiday{
            font-size: 52px;
            line-height: 63px;
            width: 470px;
            height: 126px;
            top: 30%;
            left: 32.5%;
        }
        .project{
            font-size: 24px;
            width: 396px;
            height: 25px;
            line-height: 24px;
            left: 35%;
            top: 55%;
        }
        .button{
            button{
                left: 41.5%;
            }
        }
    }
}
@media screen and (min-width: 700px) {
    .header{
        .img{
            width: 100%;
        }
        button{
            right: 10%;
        }
        .log{
            left: 70%;
        }
        .dream{
            top: 30px;
            left: 8%;
            font-size: 20px;
        }
        .holiday{
            font-size: 52px;
            line-height: 63px;
            width: 470px;
            height: 126px;
            top: 30%;
            left: 20%;
        }
        .project{
            font-size: 24px;
            width: 396px;
            height: 25px;
            top: 55%;
            line-height: 24px;
            left: 24%;
        }
        .button{
            button{
                left: 34%;
            }
        }
    }
}
