// .works{
//     padding-top: 72px;
//     padding-bottom: 84px;
//     display: -ms-flexbox;
//     display: flex;
//     -ms-flex-pack: center;
//     justify-content: center;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap;
//     width: 100%;
//     width: 100%;
//     max-width: 85rem;
//     margin: 0 auto;
//     padding: 0 .5rem;
//     .how{
//         position: absolute;
//         width: 289px;
//         height: 27px;
//         left: 326px;
//         top: -35px;
//         font-family: 'Montserrat';
//         font-style: normal;
//         font-weight: 700;
//         font-size: 22px;
//         line-height: 27px;
//         display: flex;
//         align-items: flex-end;
//         text-align: center;
//         color: #444444;
//         margin-bottom: -80px;
//     }
//     .contains{
//         display: flex;
//         width: 90%;
//         align-items: center;
//         justify-self: center;
//         justify-content: center;
//     }
//     button{
//         box-sizing: border-box;
//         position: absolute;
//         width: 170px;
//         height: 40px;
//         left: 381px;
//         top: 471px;
//         background: #FFFFFF;
//         border: 2px solid #FF4E50;
//         border-radius: 40px;
//         &.see{
//             padding-left: 25px;
//             font-family: 'Montserrat';
//             font-style: normal;
//             font-weight: 700;
//             font-size: 14px;
//             line-height: 17px;
//             display: flex;
//             left: 400px;
//             margin-right: -20;
//             align-items: center;
//             color: #FF4E50;
//         }
//     }
// }
// // @media screen and (max-width: 1125px){
// //     .works{
// //         .contains{
// //             // left:  calc(50% - 700px/2);
// //             // top: -80px;
// //         }
// //     }
// // } 
// // @media screen and (max-width: 1070px) {
// //     .works{
// //         width: 80%;
// //         .contains{
// //             left:  0;
// //             top: -80px;
// //         }
// //     }
// // }

// // @media screen and (max-width: 980px) {
// //     .works{
// //         .contains{
// //             display: flex;
// //             width: max-content;
// //             position: relative;
// //             top: -60px;
// //         }
// //         button{
// //             top: 490px;
// //         }
// //     }
// // }
// // @media screen and (max-width: 990px) {
// //     .works{

// //     }
// // } 
// @media screen and (max-width: 770px) {
//     .works{
//         top: 500px;
//     }
// }
.works{
    position: absolute;
    width: 100%;
    .how{
        position: absolute;
        width: 289px;
        height: 27px;
        left: 22%;
        top: 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        color: #444444;
    }
    button{
        box-sizing: border-box;
        position: absolute;
        width: 280px;
        height: 40px;
        left: 10px;
        top: 991px;
        background: #FFFFFF;
        border: 2px solid #FF4E50;
        border-radius: 40px;
        &.see{
            position: absolute;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            display: flex;
            align-items: center;
            padding-left: 80px;
            color: #FF4E50;
        }
    }
}